body {
  background-color: rgb(30,30,30);
  color: white;
}

.curr-path-wrapper {
  background-color: rgb(38 38 38);
  border: 1px solid #525252;
}

.go-back-button {
  background-color: #fb0808;
  color: #ffffff;
  border: 1px solid #fb0808;
}

.go-back-button:hover,
.go-back-button:focus,
.go-back-button:active {
  background-color: #fb0808;
  color: #ffffff;
  border: 1px solid #fb0808;
}

.folder-contents-wrapper {
  border: 1px solid #525252;
  background-color: #262626;
}

.folder-contents-wrapper .content-table thead tr th {
  border-right: 1px solid rgb(82 82 82);
  border-bottom: 1px solid rgb(82 82 82);
  background-color: rgb(54 54 54);
}

.dir-content-item .content-item-link {
  color: #e1e1e1;
}

.folder-content-table-row:hover {
  background-color: #363636;
}

.titlebar-wrapper > span {
    background-color: rgb(251 8 8);
    background: linear-gradient(180deg, rgb(255 38 38), rgb(143 11 11));
}